# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
/build/
develop-eggs/
/dist/
downloads/
eggs/
.eggs/
/lib/
/lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node / JS
node_modules/
/dist/
/build/
.svelte-kit/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database / SQLite
*.sqlite
*.sqlite3
*.db

# macOS
.DS_Store

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Project Specific
/staging/
/source_data/
/config/
